html{
  justify-content: center;
  background-color: #fff9a9;
}


.main{
  background-color: #0b2926;
  display: inline;
  width: 40%;
}
.container{
  width: 100%;
  right: 0%;
  top: 0%;

}
h1 {
  top: 0%;
  text-align: center;
  background-color: #ffdd94;
  border-radius: 10px;
  color: white;
  font-family: "Cutive Mono";
}


img {
  top: 0%;
  width: 450px;
  height: 250px;
  border: 2px solid #ff7c7c;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

.image {
  top: 0%;
  text-align: center;
}

.buttons {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.button1 {
  line-height: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #ffca08;
  transition: all 1s;
}

.button1:hover {
  line-height: 20px;
  padding: 17px 25px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.4);
}

.button2 {
  line-height: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #bee020;
  transition: all 1s;
}

.button2:hover {
  line-height: 20px;
  padding: 17px 25px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.4);
}

.button3 {
  line-height: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #c1c0dd;
  transition: all 1s;
}

.button3:hover {
  line-height: 20px;
  padding: 17px 25px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.4);
}

.button4 {
  line-height: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #56ffa2;
  transition: all 1s;
}

.button4:hover {
  line-height: 20px;
  padding: 17px 25px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.4);
}

.button5 {
  line-height: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #ff2681;
  transition: all 1s;
}

.button5:hover {
  line-height: 20px;
  padding: 17px 25px;
  border: 2px solid white;
  box-shadow: 1px 1px 1px rgba(212, 212, 212, 0.4);
}

